@import url('fonts.less');
@import url('lesshat.less');
@import url('variables.less');
@import url('mixins.less');


body{
  color: @color-main;
  font-family: 'lato', sans-serif;
}


h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}


.big-text{
  font-size: 18px;
}

p{
  margin-bottom: @base-line-height;
}


.container{
  @media(min-width: @screen-lg-min){
    width: 970px;
  }
}


.center-xs{
  @media(max-width: @screen-xs-max){
    text-align: center !important;
  }
}


.page-section{
  padding: (2 * @base-line-height) 0;
  position: relative;
}

  .cover-section{
    padding-top: 0;
    height: 28 * @base-line-height;
    color: @white;
    background: @color-dark-main;

    header{
      z-index: 1;
    }
  }

    .cover-bg{
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../img/cover.jpg');
      background-position: center;
      background-size: cover;
      opacity: .2;
    }

    .cover-logo{
      margin-top: 4 * @base-line-height;
      margin-bottom: 2 * @base-line-height;
    }

.navbar-toggle{
  .icon-bar{
    background: @white;
  }
}

.navbar-nav{
  &>li{
    &>a{
      font-weight: normal;
      color: @white;
      text-transform: uppercase;
      opacity: .8;
      .transition(opacity .25s easeInOutExpo);

      &:hover,
      &:focus{
        opacity: 1;
        background: transparent;
      }
    }
  }
}


.btn{
  background: transparent;
  .border-radius(3px);
}

  .btn-default{
    border-color: @color-main;
    color: @color-main;
    .transition(background .15 ease-in, color .15 ease);

    &:hover,
    &:focus{
      background: @color-main;
      color: @white;
    }
  }

  .btn-white{
    border-color: @white;
    color: @white;
    .transition(background .15 ease-in, color .15 ease);

    &:hover,
    &:focus{
      background: @white;
      color: @color-main;
    }
  }

  .btn-width-m{
    width: 190px;
    margin: 0 5px;
  }


.photo-gallery{
  //.clearfix;
  margin-top: @base-line-height;
  margin-bottom: 2 * @base-line-height;
}

  .photo-link{
    display: block;
    width: 20%;
    float: left;
    height: 320px;
    overflow: hidden;
    background: @color-main;

    // @media(min-width: @screen-sm-min){
    //   float: left;
    //   width: 20%;
    // }

    // &:nth-child(odd){
    //   background: @color-dark-main;
    // }
  }

    .photo-thumb{
      min-width: 100%;
      opacity: .4;
      .transition(opacity .25s ease-out; transform 5s ease-out);

      &:hover{
        opacity: 1;
        .scale(1.2);
      }
    }


#section_lokasi{
  position: relative;
  min-height: 320px;
  padding: 0;
  overflow: hidden;
  .transition(height .25s cubic-bezier(0.680, -0.550, 0.265, 1.550));

  &.map-shown, &:hover{
    // height: 480px;

    .map-overlay{
      .translateY(100%);
    }
  }
}

  .map-canvas{
   position: relative;
   min-height: 320px;
   height: 100%;
   width: 100%;
  }

  .map-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(red(@color-dark-main), green(@color-dark-main), blue(@color-dark-main), 0.75);
    .transition(transform .25s .25s ease-in);
  }


#jadwal_modal{

  & > .modal-dialog{
    @media(min-width: @screen-md-min){
      width: 970px;
    }

    @media(min-width: @screen-lg-min){
      width: 1170px;
    }
  }
}

  .jadwal-frame{
    width: 100%;
    min-height: 24 * @base-line-height;
  }

footer{
  background: @color-dark-main;
  color: @white;
  padding: 2 * @base-line-height;
}


.pricing-table{
  padding: 3 * @base-line-height 0;
  position: relative;
  .clearfix;
}

  .pricing-plan{
    position: relative;
    z-index: 1;
    float: left;
    width: 100%/3;
    text-align: center;
    background: #F5F5F5;
    // border: 1px solid @silver;
    .box-shadow(0 3px 25px 0 rgba(0,0,0,.15));
  }

    .plan-title{
      text-transform: uppercase;
      background: #666;
      color: #FFF;
      padding: 5px 0;
      // font-family: @font-semibold;
      font-weight: 600;
    }

    .plan-price{
      padding: (1.5 * @base-line-height) 0;
      background: #F5414E;
      color: #FFF;
      font-size: 36px;
      line-height: 2 * @base-line-height;
    }

      .plan-per{
        font-size: 12px;
        // font-family: @font-semibold;
        font-weight: 600;
        line-height: @base-line-height;
      }

    .plan-action{
      padding: 1 * @base-line-height 10px 2 * @base-line-height 10px;
    }

    .plan-super{
      z-index: 2;
      margin-top: -1.5 * @base-line-height;
      background: #FEFEFE;
      .box-shadow(0 3px 25px 0 rgba(0,0,0,.3));

      .plan-price{
        padding-top: 2 * @base-line-height;
        padding-bottom: 2.5 * @base-line-height;
        background: #FF4351;
      }

      .plan-action{
        padding-top: 1.5 * @base-line-height;
        padding-bottom: 2.5 * @base-line-height;
      }
    }

.feature-col {
  margin-top: 8.5 * @base-line-height + 1;
  text-align: center;
  font-weight: bold;
  margin-right: -30px;
}

.feature-row {
  height: 39px;
  line-height: 20px;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}


.pills-hollow{
  .border-radius(3px);
  overflow: hidden;
  border: 1px solid @asbestos;

  & > li{
    & > a{
      .border-radius(0);
      color: @asbestos;
    }

    &.active{
      & > a{
        &, &:hover{
          background: @asbestos;
          color: @white;
        }
      }
    }
  }

}